
<div ng-app="roleApp" ng-controller="roleAppCtrl">
    <div ng-view=""></div>
</div>


@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>

    <script src="~/App/Roles/roleApp.js"></script>
    <script src="~/App/Roles/roleCtrls.js"></script>
    <script src="~/App/Roles/roleFactory.js"></script>

}