USE [master]
GO
/****** Object:  Database [ShareHolderMeeting]    Script Date: 2/1/2016 3:52:31 PM ******/
CREATE DATABASE [ShareHolderMeeting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShareHolderMeeting.mdf', FILENAME = N'D:\01-SqlDBs\ShareHolderMeeting.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShareHolderMeeting_log.ldf', FILENAME = N'D:\01-SqlDBs\ShareHolderMeeting_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShareHolderMeeting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShareHolderMeeting]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/1/2016 3:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 2/1/2016 3:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CandidateType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Candidates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShareHolders]    Script Date: 2/1/2016 3:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShareHolders](
	[ShareHolderId] [int] IDENTITY(1,1) NOT NULL,
	[ShareHolderCode] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[NumberOfShares] [int] NOT NULL,
	[StatusAtMeeting] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ShareHolders] PRIMARY KEY CLUSTERED 
(
	[ShareHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Statements]    Script Date: 2/1/2016 3:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Statements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VotingByHandLines]    Script Date: 2/1/2016 3:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingByHandLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatementId] [int] NOT NULL,
	[StatementDesc] [nvarchar](max) NULL,
	[VotingByHandId] [int] NOT NULL,
	[VotingOption] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VotingByHandLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VotingByHands]    Script Date: 2/1/2016 3:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingByHands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsVoted] [bit] NOT NULL,
	[ShareHolderId] [int] NOT NULL,
	[ShareHolderCode] [nvarchar](max) NULL,
	[ShareHolderName] [nvarchar](max) NULL,
	[NumberOfShares] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VotingByHands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VotingCardLines]    Script Date: 2/1/2016 3:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingCardLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NOT NULL,
	[CandidateName] [nvarchar](max) NULL,
	[VotingAmt] [int] NOT NULL,
	[VotingCardId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VotingCardLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VotingCards]    Script Date: 2/1/2016 3:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingCards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsVoted] [bit] NOT NULL,
	[VotingCardType] [int] NOT NULL,
	[ShareHolderId] [int] NOT NULL,
	[NumberOfCandidates] [int] NOT NULL,
	[NumberOfShares] [int] NOT NULL,
	[IsInvalid] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.VotingCards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetCandidatesWithTypeId]    Script Date: 2/1/2016 3:52:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GetCandidatesWithTypeId](@TypeId INT)
RETURNS TABLE
AS
RETURN 
(
	SELECT * FROM [dbo].[Candidates] WHERE Id = @TypeId	
)
GO
/****** Object:  Index [IX_VotingByHandId]    Script Date: 2/1/2016 3:52:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_VotingByHandId] ON [dbo].[VotingByHandLines]
(
	[VotingByHandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShareHolderId]    Script Date: 2/1/2016 3:52:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShareHolderId] ON [dbo].[VotingByHands]
(
	[ShareHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_VotingCardId]    Script Date: 2/1/2016 3:52:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_VotingCardId] ON [dbo].[VotingCardLines]
(
	[VotingCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShareHolderId]    Script Date: 2/1/2016 3:52:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShareHolderId] ON [dbo].[VotingCards]
(
	[ShareHolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Candidates] ADD  DEFAULT ((0)) FOR [CandidateType]
GO
ALTER TABLE [dbo].[VotingByHandLines] ADD  DEFAULT ((0)) FOR [VotingOption]
GO
ALTER TABLE [dbo].[VotingByHands] ADD  DEFAULT ((0)) FOR [NumberOfShares]
GO
ALTER TABLE [dbo].[VotingCards] ADD  DEFAULT ((0)) FOR [ShareHolderId]
GO
ALTER TABLE [dbo].[VotingCards] ADD  DEFAULT ((0)) FOR [NumberOfCandidates]
GO
ALTER TABLE [dbo].[VotingCards] ADD  DEFAULT ((0)) FOR [NumberOfShares]
GO
ALTER TABLE [dbo].[VotingCards] ADD  DEFAULT ((0)) FOR [IsInvalid]
GO
ALTER TABLE [dbo].[VotingByHandLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VotingByHandLines_dbo.VotingByHands_VotingByHandId] FOREIGN KEY([VotingByHandId])
REFERENCES [dbo].[VotingByHands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VotingByHandLines] CHECK CONSTRAINT [FK_dbo.VotingByHandLines_dbo.VotingByHands_VotingByHandId]
GO
ALTER TABLE [dbo].[VotingByHands]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VotingByHands_dbo.ShareHolders_ShareHolderId] FOREIGN KEY([ShareHolderId])
REFERENCES [dbo].[ShareHolders] ([ShareHolderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VotingByHands] CHECK CONSTRAINT [FK_dbo.VotingByHands_dbo.ShareHolders_ShareHolderId]
GO
ALTER TABLE [dbo].[VotingCardLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VotingCardLines_dbo.VotingCards_VotingCardId] FOREIGN KEY([VotingCardId])
REFERENCES [dbo].[VotingCards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VotingCardLines] CHECK CONSTRAINT [FK_dbo.VotingCardLines_dbo.VotingCards_VotingCardId]
GO
ALTER TABLE [dbo].[VotingCards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VotingCards_dbo.ShareHolders_ShareHolderId] FOREIGN KEY([ShareHolderId])
REFERENCES [dbo].[ShareHolders] ([ShareHolderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VotingCards] CHECK CONSTRAINT [FK_dbo.VotingCards_dbo.ShareHolders_ShareHolderId]
GO
USE [master]
GO

ALTER TABLE [dbo].[VotingCards] ADD [AmtAlreadyVoted] [int] NOT NULL DEFAULT 0
