<!--<h3>{{title()}}Voting Result </h3>-->

<h3>Kết quả bầu {{title()}} </h3>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-md-2">Mã Ứng viên</th>
                <th class="col-md-2">
                    Họ và Tên
                </th>
                <th class="col-md-2">Số phiếu Bầu</th>
                <th class="col-md-1">
                    <a href="" ng-click="sortField='VotingRate'; reverse = !reverse">Rate</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in votingResult.CandidateLines | orderBy : sortField : reverse">
                <td>{{c.Id}}</td>
                <td>{{c.Name}}</td>
                <td>{{c.TotalVoting | number}}</td>
                <td>{{c.VotingRate}}</td>
            </tr>
        </tbody>
    </table>

</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>

            <tr>
                <th class="col-md-2">Diễn giải</th>
                <th class="col-md-2">Số lượng</th>
                <th class="col-md-2">Số Phiếu bầu</th>
                <th class="col-md-1">Tỷ lệ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Số Phiếu bầu phát ra
                </td>
                <td>
                    {{votingResult.NumberOfVotingCardsIssured | number}}
                </td>
                <td>
                    {{votingResult.VotingCardAmtIssured | number}}
                </td>
                <td>{{votingResult.VotingCardAmtIssuredRate}}%</td>
            </tr>
            <tr>
                <td>
                    Số Phiếu bầu nhận được
                </td>
                <td>
                    {{votingResult.NumberOfVotingCardsReceived | number}}
                </td>
                <td>
                    {{votingResult.VotingCardAmtReceived | number}}
                </td>
                <td>
                    {{votingResult.VotingCardAmtReceivedRate}}%
                </td>
            </tr>

            <tr>
                <td>
                    Số Phiếu bầu không nhận được
                </td>
                <td>
                    {{votingResult.NumberOfVotingCardNotReceived | number}}
                </td>
                <td>
                    {{votingResult.VotingCardAmtNotReceived | number}}
                </td>
                <td>
                    {{votingResult.VotingCardAmtNotReceivedRate}}%
                </td>
            </tr>

            <tr>
                <td>
                    Số Phiếu bầu hợp lệ
                </td>
                <td>
                    {{votingResult.NumberOfVotingCardsValidated | number}}
                </td>
                <td>
                    {{votingResult.ValidVotingCardAmtReceived | number}}
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>