<h3>Manage Roles</h3>

<button type="button" ng-click="states.showRoleForm = true;" class="btn btn-default">Create Role</button>
<a href="/User/Index" class="btn btn-default">Assign Roles</a>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="col-md-1">Action</th>
                <th class="col-md-1">
                    <a href="" ng-click="reverse = ! reverse">Name</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="states.showRoleForm">
                <td>
                    <button type="button" class="btn btn-primary" ng-click="createRole(newRole)">Add</button>
                    <button type="button" ng-click="states.showRoleForm = false;" class="btn btn-default">Cancel</button>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="Role Name" ng-model="newRole.Name" />
                </td>
            </tr>
            <tr ng-repeat="role in model.roles | orderBy: name: reverse">
                <td>
                    <button class="btn btn-default" ng-click="deleteRole(role)" ng-hide="role.Name.toLowerCase() =='administrators' || role.toLowerCase() =='default'">Delete</button>
                </td>
                <td>
                    {{role.Name}}
                </td>
            </tr>
            <tr ng-if="model.length ==0">
                <td colspan="2">There are no roles to display</td>
            </tr>
        </tbody>
    </table>
</div>