
<div ng-app="shareHolderApp">
    <div ng-view=""></div>
</div>

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>

    <script src="~/App/ShareHolder/shareHolderApp.js"></script>
    <script src="~/App/ShareHolder/shareHolderFilter.js"></script>
    <script src="~/App/ShareHolder/shareHolderFactory.js"></script>
    <script src="~/App/ShareHolder/shareHoldersCtrl.js"></script>

    <script src="~/App/Directives/dynamic-number.js"></script>


}




