
<div ng-app="candidateApp" ng-init="type=@ViewBag.Type">
    <div ng-show="loading">
        <img ng-src="~/Images/bhvImages/ajax-loader.gif" class="ajax-loader" />
    </div>
    <div ng-view=""></div>   
</div>

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/App/Candidate/CandidateApp.js"></script>
    <script src="~/App/Candidate/CandidateCtrl.js"></script>
}
