
<div ng-app="candidateApp" ng-init="type=@ViewBag.Type">
    <img ng-src="~/Images/bhvImages/ajax-loader.gif" class="ajax-loader" ng-show="loading" />
    <div ng-view=""></div>
</div>

@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <script src="~/App/Candidate/candidateApp.js"></script>
    <script src="~/App/Candidate/candidateCtrl.js"></script>
}
