
<div ng-app="userApp" ng-cloak="" ng-controller="userAppCtrl">

    <img ng-src="~/Images/bhvImages/ajax-loader.gif" class="ajax-loader" ng-show="loading" />
    <div ng-view=""></div>
</div>

@section scripts {

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>

    <script src="~/App/Users/userApp.js"></script>
    <script src="~/App/Users/userFactory.js"></script>
    <script src="~/App/Users/userCtrls.js"></script>
}
