<!--<h3>VotingByHand Result</h3>-->
<h3>Kết quả Biểu quyết</h3>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>

            <tr>
                <th class="col-md-1">
                    Số TT
                </th>
                <th class="col-md-3">
                    Diễn giải
                </th>
                <th class="col-md-1">
                    Đồng ý
                </th>
                <th class="col-md-1">
                    Tỷ lệ(%)
                </th>
                <th class="col-md-1">
                    Không đồng ý
                </th>
                <th class="col-md-1">
                    Tỷ lệ(%)
                </th>
                <th class="col-md-1">
                    Ý kiến khác
                </th>
                <th class="col-md-1">
                    Tỷ lệ(%)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in model.StatementResults">
                <td>
                    {{s.Id}}
                </td>
                <td>
                    {{s.Description}}
                </td>
                <td>
                    {{s.AmtOfSharesYes | number}}
                </td>
                <td>
                    {{s.YesRate}}
                </td>
                <td>
                    {{s.AmtOfSharesNo | number}}
                </td>
                <td>
                    {{s.NoRate}}
                </td>
                <td>
                    {{s.AmtOfSharesOther | number}}
                </td>
                <td>
                    {{s.OtherRate}}
                </td>
            </tr>
        </tbody>

    </table>
</div>